PORT=3000
MONGO_URL=mongodb://localhost:27017/node-basics
JWT_SECRET_KEY=your_super_secret_jwt_key_here
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
CLIENT_URL=http://localhost:5173
